boto==2.48.0
boto3==1.6.9
botocore==1.9.9
click==6.7
Django==2.0.3
django-storages==1.6.5
docutils==0.14
gunicorn==19.7.1
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
psycopg2==2.7.4
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
s3transfer==0.1.13
six==1.11.0
